

body{background:#f9f9f9; font-family: 'Quicksand', sans-serif; }
.logo{ max-width: 60px; width: 100%; }
.logo-login{ max-width: 80px; width: 100%; }
#wrapper{padding:120px 15px;}
.navbar-expand-lg .navbar-nav.side-nav{flex-direction: column;}
.card{margin-bottom: 15px; border-radius:0; box-shadow: 0 3px 5px rgba(0,0,0,.1); }
.header-top{box-shadow: 0 3px 5px rgba(0,0,0,.1); box-shadow: 0px 6px 20px #8e8e8e; }
.leftmenutrigger, .navbar-nav li a .shortmenu{display: none}
.card-title{ font-size: 28px}
.bg-dark{ background-color: #0d273a !important; }
.navbar-dark .navbar-nav .nav-link{ color: #fff; }
@media(min-width:992px) {
.leftmenutrigger{display: block;display: block;/*margin: 7px 20px 4px 0;*/margin: 7px 20px 4px 5px;cursor: pointer;}
#wrapper{padding: 120px 15px 15px 75px; }
#wrapper.open{padding: 120px 15px 15px 225px; }
.navbar-nav.side-nav.open {left:0;}
.side-nav li a {padding: 20px}
.navbar-nav li a .shortmenu {float: right;display: block;opacity: 1}
.navbar-nav.side-nav.open.navbar-nav li a .shortmenu {opacity: 0}
.navbar-nav.side-nav{background: #081e2b;box-shadow: 2px 1px 2px rgba(0,0,0,.1);position:fixed;top:86px;flex-direction: column!important;left:-140px;width:200px;overflow-y:auto;bottom:0;overflow-x:hidden;padding-bottom:40px}
}
.animate{-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.navbar-nav li a svg{font-size: 20px;float: left;margin: 0 10px 0 5px;}
/*.side-nav li { border-bottom: 1px solid #50575d;}*/
.fa-bars{ color: #fff; font-size: 20px; }
#showmeplumbing {
  display: none;
}

#showmeplumbing.show {
  display: block;
}

#showmeheating {
  display: none;
}

#showmeheating.show {
  display: block;
}

.valign-wrapper{ width:100%; height:100%; position: absolute; }

.book-btn{ padding: 20px; border: none; background: #18b500; color: #fff; border-bottom: 4px solid #148801; cursor: pointer; max-width: 200px; width: 100%; }
.book-btn:active{ transform: translateY(4px); background: #148801; }

.book-btn:focus{ outline: none; }
.login-page{ background-image: url(../img/login-bg.svg); background-position: center; background-size: cover; }
.login-btn{ padding: 10px; border: none; background: #18b500; color: #fff; border-bottom: 4px solid #148801; cursor: pointer; width: 100%; font-size: 22px; }
.login-btn:active{ transform: translateY(4px); background: #148801; }

.login-btn:focus{ outline: none;  }
#jobbooking label{ display: block; }

.booking-btn{ padding: 20px; border: none; background: #18b500; color: #fff; border-bottom: 4px solid #148801; cursor: pointer; max-width: 200px; width: 100%; }
.booking-btn:active{ transform: translateY(4px); background: #148801; }

.booking-btn:focus{ outline: none; }

.red{ background-color: #ef2700; border-bottom: 4px solid #cc2100; }
.red:active{ background-color: #cc2100 !important; }
.green{ color: #18b500; }

.buttons-menu{ margin-bottom: 20px; }
.fa-angle-down{ float: right !important; margin-top: 2px !important; }
.small-text{ color: #fff; display: block; text-align: right; font-size: 12px; }
.search-btn{ background: #cecece; color: #0c273a; border-radius: 0px; }
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child){ border-radius: 0px; }

.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#fff; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#fff; font-size:14px; margin-bottom:30px; line-height:24px;}

.login-form .logo{ margin-bottom: 20px; }

#plumbingInput{ width: 100%;  }

.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 0px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}

.main-div {
/*  background: #ffffff none repeat scroll 0 0;*/
  position: absolute;
     top: 50%;
     left:50%;
     transform: translate(-50%,-50%);
  width: 100%;
  max-width: 400px;
  padding: 40px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #ef2700; 
  font-size: 14px;
}
.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}

.form-group{ float: left; }

.login-page .form-group{ float: none; }

